In [1]:
import pandas as pd
import numpy as np

In [3]:
df_raw = pd.read_csv("ISIC_2020_Training_GroundTruth.csv")
df_raw

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0
...,...,...,...,...,...,...,...,...
33121,ISIC_9999134,IP_6526534,male,50.0,torso,unknown,benign,0
33122,ISIC_9999320,IP_3650745,male,65.0,torso,unknown,benign,0
33123,ISIC_9999515,IP_2026598,male,20.0,lower extremity,unknown,benign,0
33124,ISIC_9999666,IP_7702038,male,50.0,lower extremity,unknown,benign,0
33125,ISIC_9999806,IP_0046310,male,45.0,torso,nevus,benign,0

In [20]:
df_labels = df_raw[["image_name", "target"]]
df_labels = df_labels.rename(columns={"image_name":"image_id", "target":"cancer"})

In [21]:
## Randomize the order (to deal with clinic bias and maybe more)
df_random = df_labels.sample(frac=1)
df_random

           image_id  cancer
29929  ISIC_9052604       0
16247  ISIC_4968388       0
16467  ISIC_5040726       0
717    ISIC_0317589       0
11691  ISIC_3599367       0
...             ...     ...
9220   ISIC_2859888       0
5042   ISIC_1615215       0
16229  ISIC_4964586       0
2902   ISIC_0966066       0
27735  ISIC_8393310       0

[33126 rows x 2 columns]

In [22]:
## Save this to csv (maybe not needed)
df_random.to_csv("ISIC_2020_GroundTruth_Random.csv")

In [23]:
## Pick 100 random images where cancer = 1, and 100 where cancer = 0
## First part with .loc is a "where-statement", and sample(100) takes 100 items at random from the random list
df_sample_cancer = df_random.loc[(df_random["cancer"] == 1)].sample(100)
print(df_sample_cancer)

## Same as above, but with no_cancer
df_sample_no_cancer = df_random.loc[(df_random["cancer"] == 0)].sample(100)
print(df_sample_no_cancer)

           image_id  cancer
21408  ISIC_6496370       1
1335   ISIC_0504165       1
12795  ISIC_3941123       1
20547  ISIC_6251753       1
9151   ISIC_2837581       1
...             ...     ...
16622  ISIC_5086349       1
10149  ISIC_3144222       1
22520  ISIC_6829008       1
2542   ISIC_0862745       1
11920  ISIC_3673080       1

[100 rows x 2 columns]
           image_id  cancer
26979  ISIC_8174925       0
31346  ISIC_9472515       0
4269   ISIC_1388032       0
16159  ISIC_4946006       0
25714  ISIC_7803114       0
...             ...     ...
1290   ISIC_0489729       0
25875  ISIC_7847181       0
15687  ISIC_4794020       0
16842  ISIC_5149730       0
21498  ISIC_6524119       0

[100 rows x 2 columns]

In [24]:
## Concat the two sample groups:
df_sample = pd.concat([df_sample_cancer,df_sample_no_cancer])
df_sample

           image_id  cancer
21408  ISIC_6496370       1
1335   ISIC_0504165       1
12795  ISIC_3941123       1
20547  ISIC_6251753       1
9151   ISIC_2837581       1
...             ...     ...
1290   ISIC_0489729       0
25875  ISIC_7847181       0
15687  ISIC_4794020       0
16842  ISIC_5149730       0
21498  ISIC_6524119       0

[200 rows x 2 columns]

In [26]:
## Check that there are exactly 200 image_ids (no duplicates) and only 2 classes (cancer / no-cancer)
df_sample.nunique()

image_id    200
cancer        2
dtype: int64

In [27]:
## Save the sample data in a csv file
df_sample.to_csv("ISIC_2020_unlabeled_images.csv")