In [2]:
import pandas as pd
import numpy as np

In [3]:
df_raw = pd.read_csv("ISIC-2017_Training_Part3_GroundTruth.csv")
df_raw

          image_id  melanoma  seborrheic_keratosis
0     ISIC_0000000       0.0                   0.0
1     ISIC_0000001       0.0                   0.0
2     ISIC_0000002       1.0                   0.0
3     ISIC_0000003       0.0                   0.0
4     ISIC_0000004       1.0                   0.0
...            ...       ...                   ...
1995  ISIC_0015220       0.0                   1.0
1996  ISIC_0015233       0.0                   1.0
1997  ISIC_0015260       0.0                   1.0
1998  ISIC_0015284       1.0                   0.0
1999  ISIC_0015295       0.0                   1.0

[2000 rows x 3 columns]

In [4]:
df_labels = df_raw[["image_id","melanoma"]]

In [5]:
df_labels["cancer"] = df_labels["melanoma"]

In [6]:
df_labels = df_labels.drop(columns="melanoma")
df_labels

          image_id  cancer
0     ISIC_0000000     0.0
1     ISIC_0000001     0.0
2     ISIC_0000002     1.0
3     ISIC_0000003     0.0
4     ISIC_0000004     1.0
...            ...     ...
1995  ISIC_0015220     0.0
1996  ISIC_0015233     0.0
1997  ISIC_0015260     0.0
1998  ISIC_0015284     1.0
1999  ISIC_0015295     0.0

[2000 rows x 2 columns]

In [7]:
## Randomize the order (to deal with clinic bias and maybe more)
df_random = df_labels.sample(frac=1)

In [8]:
df_random

          image_id  cancer
1166  ISIC_0012460     0.0
1522  ISIC_0013553     0.0
1199  ISIC_0012655     0.0
134   ISIC_0000148     1.0
305   ISIC_0000365     0.0
...            ...     ...
1943  ISIC_0014855     0.0
1288  ISIC_0012873     0.0
156   ISIC_0000174     1.0
984   ISIC_0011205     0.0
632   ISIC_0009931     0.0

[2000 rows x 2 columns]

In [9]:
## Save this to csv (maybe not needed)
df_random.to_csv("ISIC-2017_Training_Part3_GroundTruth_Random.csv")

In [10]:
## Pick 100 random images where cancer = 1, and 100 where cancer = 0
## First part with .loc is a "where-statement", and sample(100) takes 100 items at random from the random list
df_sample_cancer = df_random.loc[(df_random["cancer"] == 1)].sample(100)
df_sample_cancer

## Same as above, but with no_cancer
df_sample_no_cancer = df_random.loc[(df_random["cancer"] == 0)].sample(100)
df_sample_no_cancer

          image_id  cancer
1023  ISIC_0011333     0.0
1262  ISIC_0012789     0.0
1197  ISIC_0012550     0.0
1239  ISIC_0012713     0.0
1127  ISIC_0012324     0.0
...            ...     ...
798   ISIC_0010317     0.0
1662  ISIC_0013980     0.0
1355  ISIC_0013056     0.0
1366  ISIC_0013088     0.0
275   ISIC_0000328     0.0

[100 rows x 2 columns]

In [11]:
## Concat the two sample groups:
df_sample = pd.concat([df_sample_cancer,df_sample_no_cancer])
df_sample

          image_id  cancer
1533  ISIC_0013581     1.0
1620  ISIC_0013832     1.0
1810  ISIC_0014543     1.0
248   ISIC_0000294     1.0
422   ISIC_0000520     1.0
...            ...     ...
798   ISIC_0010317     0.0
1662  ISIC_0013980     0.0
1355  ISIC_0013056     0.0
1366  ISIC_0013088     0.0
275   ISIC_0000328     0.0

[200 rows x 2 columns]

In [12]:
## Check that there are exactly 200 image_ids (no duplicates) and only 2 classes (cancer / no-cancer)
df_sample.nunique()

image_id    200
cancer        2
dtype: int64

In [13]:
## Save the sample data in a csv file
df_sample.to_csv("ISIC-2017_anchor_images.csv")